{%load static%}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Início - Time de Futebol</title>
    <link rel="stylesheet" href="{% static 'css/styles.css'%}">
</head>
<body>
    <header>
        <h1>Time de Futebol</h1>
        <nav>
            <ul>
                <li><a href="index.html">Início</a></li>
                <li><a href="jogadores.html">Jogadores</a></li>
                <li><a href="sobre.html">Sobre</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section>
            <h2>Bem-vindo ao Time de Futebol</h2>
            <img src="time.jpg" alt="Imagem do Time" class="team-img">
            <p>Nosso time tem uma rica história e uma equipe apaixonada por futebol. Fundado em 1900, temos lutado e vencido muitos campeonatos ao longo dos anos.</p>
            <h3>História</h3>
            <p>O Time de Futebol foi fundado com o objetivo de promover o esporte e criar um ambiente de competição saudável. Desde então, temos nos esforçado para alcançar o topo e oferecer o melhor aos nossos torcedores.</p>
        </section>
    </main>

    <footer>
        <p>&copy; 2024 Time de Futebol</p>
    </footer>
</body>
</html>
