<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jogadores - Time de Futebol</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <h1>Time de Futebol</h1>
        <nav>
            <ul>
                <li><a href="index.html">Início</a></li>
                <li><a href="jogadores.html">Jogadores</a></li>
                <li><a href="sobre.html">Sobre</a></li>
            </ul>
        </nav> 
    </header>

    <main>
        <section>
            <h2>Jogadores Seleção Brasileira de Futsal</h2>
            <ul class="player-list">
                <li><strong>Nome:</strong> Guita - Ukhta (RUS)| <strong>Idade:</strong> 37 | <strong>Posição:</strong> Goleiro| 
                <li><strong>Nome:</strong> Neguinho - Palma (ESP) | <strong>Idade:</strong> 32| <strong>Posição:</strong> Fixo | 
                <li><strong>Nome:</strong>  F. Valério - Elpozzo (ESP) | <strong>Idade:</strong> 31 | <strong>Posição:</strong> Ala | 
                <li><strong>Nome:</strong>  Leandro Lino - Sorocaba (BRA) | <strong>Idade:</strong> 29 | <strong>Posição:</strong> Ala | 
                <li><strong>Nome:</strong> Arthur - Benfica (POR) | <strong>Idade:</strong> 30 | <strong>Posição:</strong> Ala | 
                <li><strong>Nome:</strong> Marcênio - Jaraguá (BRA)| <strong>Idade:</strong> 36 | <strong>Posição:</strong> Ala | 
                <li><strong>Nome:</strong> Dyego - Barcelona (ESP)  | <strong>Idade:</strong> 34 | <strong>Posição:</strong> Ala |
                <li><strong>Nome:</strong> Matheus - Barcelona (ESP);| <strong>Idade:</strong> 27 | <strong>Posição:</strong> Ala | 
                <li><strong>Nome:</strong> Pito - Barcelona (ESP) | <strong>Idade:</strong> 32 | <strong>Posição:</strong> Pivô | 
                <li><strong>Nome:</strong> Rafa Santos - Elpozzo (ESP)  | <strong>Idade:</strong> 33 | <strong>Posição:</strong> Pivô | 
                <li><strong>Nome:</strong> Rocha - Benfica (POR) | <strong>Idade:</strong> 29 | <strong>Posição:</strong> Goleiro | 
            </ul>
        </section>
    </main>

    <footer>
        <p>&copy; Seleção Brasileira de futsal 2024</p>
    </footer>
</body>
</html>

