{%extends 'base.html'%}
{%load static%}

{%block title%}Jogadores{%endblock%}

{%block content%}

{%for jogador in jogadores%}

<div class="album py-5 bg-bg-body-tertiary">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col">
                <div class="card shadow-sm bg-dark text-white">
                    <img src="{% static jogador.foto %}" class="img-thumbnail" alt="{{ jogador.nome }}" >
                    <div class="card-body">
                        Nome: {{ jogador.Nome}}<br>
                        Idade: {{ jogador.Idade }}<br>
                        Local de Nascimento: {{ jogador.Naturalidade }}<br>
                        Posição: {{ jogador.Posicao }}<br >
                    </div>
                </div>
            </div >
        </div>
    </div>
</div>
{%endfor%}
{%endblock%}

